
#login-box {
	width:333px;
	height: 352px;
	/*padding: 58px 76px 0 76px;*/
	padding: 58px 76px 0 50px;
	border: 1px solid #79b7e7;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	/* color: #2e6e9e; */
	/*font: 12px Arial, Helvetica, sans-serif;*/
	font: 12px Lucida Grande,Lucida Sans,Arial,sans-serif
	/* background: url(../images/login-box-backg.png) no-repeat left top; */
	
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #2e6e9e;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 7px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	/* width: 205px; */
	padding: 3px 4px 6px 3px;
	border: 1px solid #0d2c52;
/* 	background-color:#1e4f8a; */
	/* font-size: 16px; */
	/* color: #2e6e9e; */
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #2e6e9e;
	font-size: 11px;
}